<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ourapplication_kohl_roux_m">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

 <!--       <activity
            android:name=".ui.InitApp"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
 -->
        <activity
            android:name=".ui.Start"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.Start"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ourapplication_kohl_roux_m.ui.Start" />
        </activity>
        <activity
            android:name=".ui.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
 <!--       <activity
            android:name=".ui.management.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ourapplication_kohl_roux_m.ui.MainActivity" />
        </activity>
-->        <activity
            android:name=".ui.trajet.ListTrajet_BazActivity"
            android:label="/ @string/title_activity_ListTrajet"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ourapplication_kohl_roux_m.ui.MainActivity" />
        </activity>

       <activity
           android:name=".ui.management.consumptionInputs.NewTrajetConsumptionInput"
           android:label="Saisie de vos données de connsommation"
           android:parentActivityName=".ui.management.CreateTrip"
           android:theme="@style/AppTheme.NoActionBar">
           <meta-data
           android:name="android.support.PARENT_ACTIVITY"
           android:value="com.example.ourapplication_kohl_roux_m.ui.management.CreateTrip" />
       </activity>
      <activity
           android:name=".ui.management.CreateTrip"
           android:label="Nouveau trajet"
           android:parentActivityName=".ui.trajet.ListTrajet_BazActivity"
           android:theme="@style/AppTheme.NoActionBar">
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value="com.example.ourapplication_kohl_roux_m.ui.trajet.ListTrajet_BazActivity" />
       </activity>

        <activity
            android:name=".ui.InitApp"
            android:label="Page Base"
            android:parentActivityName=".ui.trajet.ListTrajet_BazActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ourapplication_kohl_roux_m.ui.Start" />
        </activity>
 <!--                      <activity
                           android:name=".ui.BaseActivity"
                           android:theme="@style/AppTheme.NoActionBar" />
                       <activity
                           android:name=".ui.account.AccountDetailActivity"
                           android:theme="@style/AppTheme.NoActionBar"
                           android:parentActivityName=".ui.account.AccountsActivity">
                           <meta-data
                               android:name="android.support.PARENT_ACTIVITY"
                               android:value="ch.hevs.aislab.demo.ui.account.AccountsActivity" />
                       </activity>
                       -->
    </application>

</manifest>